/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
}
.owl-carousel {
	/*background-color: #363636;*/
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons {
	display: none;
}
@media (min-width: 768px) {
	.owl-theme:hover .owl-buttons {
		display: block;
	}
}

.owl-theme .owl-controls .owl-prev,
.owl-theme .owl-controls .owl-next {
	position: absolute;
	z-index: 2;
	top: 42%;
}
.owl-theme .owl-controls .owl-prev {
	left: 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.owl-theme .owl-controls .owl-next {
	right: 0;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.owl-theme .owl-controls .owl-buttons div{
	color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 0;
	padding: 10px;
	font-size: 12px;
	line-height: 1;
	background: #dcdcdc;
	background: rgba(255, 255, 255, 0.5);
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	background: silver;
	background: rgba(255, 255, 255, 0.7);
}

/* Styling Pagination*/

.owl-theme .owl-pagination {
	position: absolute;
	left: 10px; top: 10px;
	z-index: 2;
}
.owl-theme.pagination-bottom .owl-pagination {
	left: auto; top: auto;
	bottom: 0; right: 0;
}

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 3px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #869791;
	border: 1px solid #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=70);/*IE7 fix*/
	opacity: 0.7;
	background-color: #F73636;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}