.panel-group .panel {
    border: none;
    position: relative;
    background: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.panel > .panel-heading a:hover, .panel > .panel-heading a:focus {
    color: inherit;
    text-decoration: none;
}
.panel > .panel-heading .btn-collapse {
    display: block;
}
.panel-warning > .panel-heading {
    background-color: #F39C12;
    color: #fff;
}
.panel-danger > .panel-heading {
    background-color: #F56954;
    color: #fff;
}
.panel-success > .panel-heading {
    background-color: #00A65A;
    color: #fff;
}
.panel-info > .panel-heading {
    background-color: #00C0EF;
    color: #fff;
}
.panel .panel-footer {
    background-color: #fff;
    border-top: solid 1px #ebebeb;
}

@media (min-width: 1200px) {
  .content .right-panel {
    padding-left: 0;
  }
  .datetimepicker {
        min-width: 310px;
    }
}
.btn-add {
    font-size: 12px;
    background-color: #3C8DBC;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 7px;
    line-height: 1em;
    position: relative;
    top: -2px;
}
.btn-add:hover {
    color: #fff;
    opacity: 0.8;
}
#post-title {
    padding: 6px;
    font-size: 20px;
}
.box-title-sm {
    font-size: 16px !important;
}
.post-menu-item {
    padding: 7px 0 0;
}
.checkbox input[type="checkbox"], .radio input[type="radio"] {
    float: none;
    margin-left: auto;
}
.label.new-post-tag {
    font-size: 13px;
    font-weight: normal;
    line-height: 26px;
    cursor: pointer;
}
.label.new-post-tag:hover {
    opacity: 0.8;
}
.btn-group ul.dropdown-menu {
    min-width: 130px;
}
.btn-group ul.dropdown-menu > li > a {
    padding-left: 15px;
    padding-right: 15px;
}
.dropdown-btn > li > button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 4px 10px;
}
.dropdown-btn > li > button:hover {
    background-color: #3C8DBC;
    color: #fff;
}
.data-form {
    padding: 20px 15px;
}
.data-form .form-control {
    width: auto;
    max-width: 100%;
}
.data-form .input-group > .form-control {
    width: 100%;
    
}
.dttool {
    padding: 15px;
}
.dttool select, .dttool input {
    border: solid 1px #dcdcdc;
    padding: 3px;
    font-size: 13px;
    max-width: 320px;
}
#foto-area .well, #banner-area .well {
    text-align: center;
    margin: 0;
}
#foto-area {
    padding: 0 15px 15px;
}

/* galeri foto */
ul.foto-list {
    list-style: none;
    margin: 0; padding: 0;
    font-size: 0;
    margin: -5px;
}
ul.foto-list li {
    font-size: 13px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 240px;
    height: 160px;
    padding: 5px;
    position: relative;
}
ul.foto-list li .img-container {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ebebeb;
}
ul.foto-list li img {
    width: 100%;
    height: 100%;
}
ul.foto-list li .foto-title {
    position: absolute;
    z-index: 2;
    background-color: #333;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    left: 5px; right: 5px;
    bottom: 5px;
    padding: 8px;
    display: none;
    line-height: 16px;
}
ul.foto-list li .foto-btns {
    z-index: 3;
    position: absolute;
    right: 10px; top: 10px;
    display: none;
}
ul.foto-list li .foto-btns > a {
    display: inline-block;
    padding: 5px 7px;
    color: #fff;
    background-color: #F25555;
    line-height: 1em;
}
ul.foto-list li .foto-btns > a.btn-edit-foto {
    background-color: #47A647;
}
/* Banner */
ul.banner-list {
    list-style: none;
    margin: 0; padding: 0;
    font-size: 0;
    margin: -5px;
}
ul.banner-list li {
    font-size: 13px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height: 120px;
    padding: 5px;
    position: relative; 
}
ul.banner-list li .img-container {
    width: 100%;
    height: 100%;
    display: block; 
    background-color: #ebebeb;
    text-align: center;
    padding: 5px;
}
.valign-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
ul.banner-list li img {
    max-width: 100%;
    max-height: 100%;
}
ul.banner-list li .banner-btns {
    z-index: 3;
    position: absolute;
    right: 10px; top: 10px;
    display: none;
}
ul.banner-list li .banner-btns > a {
    display: inline-block;
    padding: 5px 7px;
    color: #fff;
    background-color: #F25555;
    line-height: 1em;
}
ul.banner-list li .banner-btns > a.btn-edit-banner {
    background-color: #47A647;
}

/* Box & Panel */
.box-body .nav-tabs > li > a,
.panel-body .nav-tabs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.box-body .nav-tabs > li.active > a,
.panel-body .nav-tabs > li.active > a {
    background-color: #f7f7f7;
    font-weight: bold;
    border-bottom: solid 1px #dcdcdc;
}
.box-body .tab-content,
.panel-body .tab-content {
    border: solid 1px #dcdcdc;
    margin-top: -1px;
    padding: 10px 12px;
    background-color: #f7f7f7;    
}
.box-body .glyphicon,
.panel-body .glyphicon {
    font-size: smaller;
}
.box-body > .box-area,
.panel-body > .box-area {
    max-height: 250px;
    overflow: auto;
}
.box-body .checkbox, .panel-body .checkbox {
    padding: 0; margin: 0;
}
.box-body .checkbox + .checkbox,
.panel-body .checkbox + .checkbox {
    margin-top: 3px;
}
.box-body .checkbox input[type=checkbox],
.panel-body .checkbox input[type=checkbox] {
    position: relative; top: 2px;
    margin-right: 2px;
}
.box-tool {
    padding: 10px 15px 8px;
    border-bottom: solid 1px #dcdcdc;
}
.box-tool > label {
    margin-right: 7px;
    line-height: 2em;
}
.box-tool input, .box-tool select {    
    border: solid 1px #dcdcdc;
    padding: 4px;
    max-width: 300px;
}
.box-tool input, .box-tool select, .box-tool button {
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
}


/* Polling */
.poll-opsi-group {
    width: 600px;
    max-width: 100%;
}
.poll-opsi-group + .poll-opsi-group {
    margin-top: 10px;
}
.poll-opsi-group input[type=text] {
    width: 100% !important;
}

#panel-accordion .glyphicon {
    color: #666;
}

/* Nestable */
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 30px; 
font-size: 13px; line-height: 30px; }

.dd-handle { display: block; height:40px; margin: 5px 0; padding: 5px 15px; color: #333; text-decoration: none; 
    font-weight: bold; border: none; line-height: 28px;
    border-left: solid 3px #428BCA;
    background-color: #ebebeb; 
    box-sizing: border-box; -moz-box-sizing: border-box;
    cursor: move; position: relative;
}
.dd-handle:hover { background-color: #D0E1F5; }
.dd-handle > small {
    margin-left: 3px;
    color: #888;
    font-style: italic;
    font-weight: normal;
}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #FFFF99; border: 2px dashed #FFCC00; 
box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { 
    background-color: #ebebeb;    
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.pagination {
    margin: 0;
}

.menuman-item-btns {
    line-height: 33px;
    position: absolute; z-index: 100;
    right:10px; top:0; bottom:0;
}
.menuman-item-btns > a {
    display: inline-block;
    color: #333;
    font-size: 16px;  
    padding: 5px 3px; 
}
.menuman-item-btns > a:hover {
    color: #CE4C4C;
}
.colorbox-form label > small {
    font-weight: normal;
    color: #888;
    font-style: italic;
}

/* Box Tab - Post data */
ul.box-tab > li > a {
    color: #888 !important;
}
ul.box-tab > li > a:hover {
    color: #000 !important;
}
ul.box-tab > li.active > a {    
    color: #fff !important;
    font-weight: bold !important;
    border-top-color: transparent !important;
}
.box-primary > ul.box-tab > li.active > a {
    background-color: #3C8DBC !important;
}
.box-warning > ul.box-tab > li.active > a {
    background-color: #F0AD4E !important;
}
.box-success > ul.box-tab > li.active > a {
    background-color: #5CB85C !important;
}
.box-danger > ul.box-tab > li.active > a {
    background-color: #D9534F !important;    
}

ul.box-tab-small > li > a {
    padding: 5px 10px;
    font-size: 12px;
}
.post-table-filter input, .post-table-filter select {
    width: auto;
    display: inline-block;
    max-width: 220px;
    min-width: 120px;
}
#post-table td {
}
#post-table td.hover {
    background-color: #DEE5EE !important;
}
#post-table tr {
    cursor: default;
}
#post-table tbody td {
    font-size: 13px;
    color: #666;
}
#post-table tbody td.large {
    font-size: 14px;
    color: #333;
}
.post-actions {
    margin-top: 7px;
}
.post-actions > a {
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
    line-height: 1em;
}
@media(max-width:767px) {
    .post-table-filter { padding-bottom:10px; }
}

/* Category */
#cats-table .cat-actions {
    margin-top: 5px;
}
#cats-table tr:hover > td {
    background-color: #CCFFCC !important;
}
#cats-table td.deleted {
    background-color: #F09696 !important;
}
#cats-table .cat-actions > button,
#cats-table .cat-actions > a {
    font-size: 11px;
    padding: 2px 6px;
    line-height: 1em;
}

/* header img */
.header-img-others > .item + .item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #dcdcdc;
}
.header-img-others > .item.selected {
    border: solid 4px #22A04E;
    padding: 1px;
}
.header-img-others > .item > a > img {
    width: 100%;
    margin-bottom: 5px;
}
.header-img-others > .item > a > img:hover {
    opacity: 0.8;
}
.upload-btn {
    position: relative;
    overflow: hidden;
}
.upload-btn input[type=file] {
	position: absolute;
	top: 0; right: 0;
	margin: 0; padding: 0;
	font-size: 50px;
	cursor: pointer;
	opacity: 0; filter: alpha(opacity=0);
}

#data-table > tbody > tr:hover > td {
    background-color: #CCFFCC;
}

/* Detail */
.detail-wrap {
    padding: 15px;
}
.detail-wrap h2 {
    font-size: 24px;
    margin: 0 0 15px;
    padding-bottom: 8px;
    border-bottom: solid 1px silver;
}
.detail-wrap > p {
    line-height: 1.5em;
    margin: 0 0 0 135px;
    padding: 7px;
}
.detail-wrap > p:nth-child(even) {
    background-color: #f2f2f2;
}
.detail-wrap > p > label {
    display: block;
    font-weight: normal;
    color: #888;
    font-style: italic;
    font-size: smaller; 
    margin: 0;
    line-height: 1.4em;
}
.detail-wrap > p > span {
    display: block;
    padding-left: 8px;
}
.detail-wrap > img {
    float: left;
    width: 120px;
}

.tbchkhak { border: none; }
.tbchkhak td {
    padding: 0 10px 5px 0;
}
.tbchkhak td .checkbox-inline {
    color: #666;
}
.tbchkhak td input[type=checkbox]:disabled + span {
    font-style: italic;
    color: #999;
}
.tbchkhak td input[type=checkbox]:checked + span {
    font-style: normal;
    color: #333;
}
.tbchkhak td:first-child .checkbox-inline {
    font-weight: bold;
    color: #358743; padding-right: 20px;
}
.tbchkhak tr + tr > td {
    border-top: solid 1px #dcdcdc;
}

.pesan-list {
    padding: 15px !important;
}
.pesan-list .media-object {
    width: 60px; height: 60px;
}
.pesan-list .media-heading {
    color: #3C8DBC;
}
.pesan-list .media-body > p {
    color: #666;
    margin: 0 0 5px;
}
.pesan-list .media + .media {
    border-top: solid 1px #dcdcdc;
    padding-top: 15px;
}
.pesan-list .msg-user {
    padding: 3px 0;
}
.pesan-list .msg-time {
    color: #999;    
}
.media-reply {
    padding: 15px;
    background-color: #ebebeb;
    margin-top: 10px;
    border-radius: 4px;
}
.media-reply > p {
    margin: 5px 0 0;
}
.btn-aktif {
    border:  none;
    padding: 1px 5px !important;
    margin: 0 !important; 
    background: none;
    color: #339966;
    font-size: 16px;
}
.btn-noaktif {
    color: #dcdcdc !important;
}
.btn-urut {
    padding: 1px 5px !important;
    margin: 0 !important; 
    color: #666;
    font-size: 12px;
}

.v-space-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.v-space-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.space-5 { height:5px; }
.space-10 { height:10px; }
.space-15 { height:15px; }
.space-20 { height:20px; }

.mtop-5 { margin-top:5px; }
.mtop-10 { margin-top:10px; }
.mtop-15 { margin-top:15px; }
.mtop-20 { margin-top:20px; }

.mbottom-5 { margin-bottom:5px; }
.mbottom-10 { margin-bottom:10px; }
.mbottom-15 { margin-bottom:15px; }
.mbottom-20 { margin-bottom:20px; }

@media (max-width: 991px) {
    .text-left-sm {
        text-align: left !important;
    }
    .text-right-sm {
        text-align: right !important;
    }
    .mtop-5-sm { margin-top:5px; }
    .mtop-10-sm { margin-top:10px; }
    .mtop-15-sm { margin-top:15px; }
    .mtop-20-sm { margin-top:20px; }
    .mbottom-5-sm { margin-bottom:5px; }
    .mbottom-10-sm { margin-bottom:10px; }
    .mbottom-15-sm { margin-bottom:15px; }
    .mbottom-20-sm { margin-bottom:20px; }
}
@media (max-width: 767px) {
    .text-left-xs {
        text-align: left !important;
    }
    .text-right-xs {
        text-align: right !important;
    }
    .mtop-5-xs { margin-top:5px; }
    .mtop-10-xs { margin-top:10px; }
    .mtop-15-xs { margin-top:15px; }
    .mtop-20-xs { margin-top:20px; }
    .mbottom-5-xs { margin-bottom:5px; }
    .mbottom-10-xs { margin-bottom:10px; }
    .mbottom-15-xs { margin-bottom:15px; }
    .mbottom-20-xs { margin-bottom:20px; }
}

/* Untuk slider utama */
#image-cropper {
    position: relative;
    margin: 7px;
}
.cropit-preview-container {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 32% 0 0 0; 
    margin: 0;    
}
.cropit-preview {
    background-color: #ebebeb;
    position: absolute !important;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.cropit-image-zoom-input {
    margin-top: 10px;
}
.cropit-image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.cropit-select-bt2n {
    position: absolute;
    top: 20px; right: 25px;
    margin: 0;
    z-index: 99;
}

.sortable .sortable-item {
    cursor: move;
    padding-bottom: 15px;
}
.sortable-item-wrap {
    position: relative;
}
.sortable-item-wrap .btns-area {
    position: absolute;
    right: 0; left: 0;
    top: 0; bottom: 0;    
    text-align: right;
    padding: 10px;
    display: none;
}
.sortable-item-wrap:hover .btns-area {
    background: rgba(0,0,0,0.5);
    display: block;
}
.sortable-placeholder {
    border: 2px dashed #E69A23;
    background-color: #ECE87F;
    height: 80px;
    margin-bottom: 15px;
}