/*
button,input,optgroup,select,textarea
{
	color:inherit;font:inherit;margin:0
}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],
input[type="reset"],
input[type="submit"]
{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
*/

.post-item{margin:0}
.post-item .post-title{font-size:14px;color:#515151;font-weight:600;line-height:1.3;margin-top:10px}
.post-item .post-title.media-heading{margin-top:0}
.post-item .post-title.post-title-small{font-size:13px}
.post-item .post-title a{color:#515151}
.post-item .post-title a:hover,.post-item .post-title a:focus{color:#2980b9}
.post-item .post-title small{font-size:11px;display:inline-block;margin-top:7px}
.post-item .post-excerpt{margin-top:0}
.post-item+.post-item{padding-top:10px;margin-top:10px;border-top:1px solid #dcdcdc}
.post-body{margin-bottom:25px}
.post-body h4{font-weight:600}
.post-body p,.post-body li{line-height:2;text-align:justify}
.post-body table{max-width:100%}

.media{margin-top:15px}
.media:first-child{margin-top:0}
.media,.media-body{zoom:1;overflow:hidden}
.media-body{width:10000px}.
media-object{display:block}.
media-object.img-thumbnail{max-width:none}.
media-right,.media>.pull-right{padding-left:10px}
.media-left,.media>.pull-left{padding-right:10px}
.media-left,.media-right,.media-body{display:table-cell;vertical-align:top}
.media-middle{vertical-align:middle}
.media-bottom{vertical-align:bottom}
.media-heading{margin-top:0;margin-bottom:5px}
.media-list{padding-left:0;list-style:none}

.btn{padding:5px 10px;font-size:17px;line-height:1.5;border-radius:3px}
.btn-xs,.btn-group-xs>.btn{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}
.btn-block{display:block;width:100%}
.btn-block+.btn-block{margin-top:5px}
input[type="submit"]
.btn-block,input[type="reset"]
.btn-block,input[type="button"]
.btn-block{width:100%}