
/*

element css

1- list style
2- social icon
3- tab style
4- accordion
5- page pagination
6- filter style
7- video-box
8- sidebar widget



/*
================================== 
1.list style
==================================
*/

.list-style-one {
	position: relative;
}

.list-style-one li {
	position: relative;
	color: #848484;
	font-size: 16px;
	font-weight: 300;
	padding-left: 28px;
	margin-bottom: 10px;
}

.list-style-one li:before {
	position: absolute;
	content: '\f046';
	left: 0px;
	top: 0px;
	font-size: 16px;
	color: #ff214f;
	font-family: 'FontAwesome';
}

/*List Style Two*/

.list-style-two {
	position: relative;
	margin-bottom: 30px;
}

.list-style-two li {
	position: relative;
	color: #848484;
	font-size: 16px;
	font-weight: 300;
	padding-left: 20px;
	margin-bottom: 6px;
}

.list-style-two li:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 10px;
	height: 5px;
	width: 5px;
	background: #ff214f;
	font-family: 'FontAwesome';
	transform: rotate(-45deg);
}

/*List Style Three*/

.list-style-three {
	position: relative;
	margin-bottom: 30px;
}

.list-style-three li {
	position: relative;
	color: #848484;
	font-size: 16px;
	font-weight: 300;
	padding-left: 20px;
	margin-bottom: 6px;
}

.list-style-three li:before {
	position: absolute;
	content: '';
	left: 0px;
	top: 10px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #ff214f;
	font-family: 'FontAwesome';
}

.list-style-three li:nth-child(2):before {
	background-color: #fd5075;
}

.list-style-three li:nth-child(3):before {
	background-color: #11e6a2;
}

/*List Style four*/

.list-style-four {
	position: relative;
}

.list-style-four li {
	position: relative;
	margin-bottom: 12px;
	color: #848484;
	font-size: 14px;
	font-weight: 400;
	padding-left: 35px;
	line-height: 2em;
}

.list-style-four li i {
	position: absolute;
	left: 0px;
	top: 4px;
	color: #ff214f;
	font-size: 22px;
	line-height: 1.2em;
}

/*List Style five*/

.list-style-five {
	position: relative;
}

.list-style-five li {
	position: relative;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	padding-left: 28px;
	margin-bottom: 10px;
}

.list-style-five li:before {
	position: absolute;
	content: '\f192';
	left: 0px;
	top: 0px;
	font-size: 16px;
	color: #ff214f;
	font-family: 'FontAwesome';
}

/*
================================== 
2.social icon
==================================
*/

/* social icon one */

.social-icon-one {
	position: relative;
}

.social-icon-one li {
	position: relative;
	margin: 0 7px;
	display: inline-block;
}

.social-icon-one li a {
	position: relative;
	color: #666;
	font-size: 16px;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-one li a:hover {
	color: #ff214f;
}

/*Social Icon Two*/

.social-icon-two {
	position: relative;
}

.social-icon-two li {
	position: relative;
	margin: 0 7px;
	display: inline-block;
}

.social-icon-two li a {
	position: relative;
	color: #ff214f;
	font-size: 16px;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-two li a:hover {
	color: #ff214f;
}

/*Social Icon Three*/

.social-icon-three {
	position: relative;
}

.social-icon-three li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.social-icon-three li a {
	position: relative;
	width: 40px;
	height: 40px;
	color: #848484;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	background: #f4f4f4;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-three li a:hover {
	color: #ffffff;
	background-color: #ff214f;
}

/*Social Icon Four*/

.social-icon-four {
	position: relative;
}

.social-icon-four li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.social-icon-four li a {
	position: relative;
	width: 40px;
	height: 40px;
	color: #ff214f;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	background: #f4f4f4;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-four li a:hover {
	color: #ffffff;
	background-color: #ff214f;
}

/*Social Icon Five*/

.social-icon-five {
	position: relative;
}

.social-icon-five li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.social-icon-five li a {
	position: relative;
	width: 40px;
	height: 40px;
	color: #848484;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #eee;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-five li a:hover {
	color: #ffffff;
	background-color: #ff214f;
}

/*Social Icon Six*/

.social-icon-six {
	position: relative;
}

.social-icon-six li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.social-icon-six li a {
	position: relative;
	width: 40px;
	height: 40px;
	color: #ff214f;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #eee;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-six li a:hover {
	color: #ffffff;
	background-color: #ff214f;
}

/* social icon seven */

.social-icon-seven {
	position: relative;
}

.social-icon-seven li {
	position: relative;
	margin: 0 7px;
	display: inline-block;
}

.social-icon-seven li a {
	position: relative;
	color: #fff;
	font-size: 16px;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-seven li a:hover {
	color: #ff214f;
}

/*social icon eight*/

.social-icon-eight {
	position: relative;
}

.social-icon-eight li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.social-icon-eight li a {
	position: relative;
	width: 40px;
	height: 40px;
	color: #ffffff;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #fff;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
}

.social-icon-eight li a:hover {
	color: #ffffff;
	background-color: #ff214f;
	border-color: #ff214f;
}

/* social-icon nine */

.social-icon-nine {
	display: flex;
	flex-wrap: wrap;
}

.social-icon-nine li {
	margin: 0 7px;
}

.social-icon-nine .fa {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.social-icon-nine .fa:hover {
	opacity: 0.7;
}

.social-icon-nine .fa-facebook {
	background: #3B5998;
	color: white;
}

.social-icon-nine .fa-twitter {
	background: #55ACEE;
	color: white;
}

.social-icon-nine .fa-google {
	background: #dd4b39;
	color: white;
}

.social-icon-nine .fa-linkedin {
	background: #007bb5;
	color: white;
}

.social-icon-nine .fa-youtube {
	background: #bb0000;
	color: white;
}

.social-icon-nine .fa-instagram {
	background: #125688;
	color: white;
}

.social-icon-nine .fa-pinterest {
	background: #cb2027;
	color: white;
}

.social-icon-nine .fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.social-icon-nine .fa-skype {
	background: #00aff0;
	color: white;
}

.social-icon-nine .fa-android {
	background: #a4c639;
	color: white;
}

.social-icon-nine .fa-dribbble {
	background: #ea4c89;
	color: white;
}

.social-icon-nine .fa-vimeo {
	background: #45bbff;
	color: white;
}

.social-icon-nine .fa-tumblr {
	background: #2c4762;
	color: white;
}

.social-icon-nine .fa-vine {
	background: #00b489;
	color: white;
}

.social-icon-nine .fa-foursquare {
	background: #45bbff;
	color: white;
}

.social-icon-nine .fa-stumbleupon {
	background: #eb4924;
	color: white;
}

.social-icon-nine .fa-flickr {
	background: #f40083;
	color: white;
}

.social-icon-nine .fa-yahoo {
	background: #430297;
	color: white;
}

.social-icon-nine .fa-soundcloud {
	background: #ff5500;
	color: white;
}

.social-icon-nine .fa-reddit {
	background: #ff5700;
	color: white;
}

.social-icon-nine .fa-rss {
	background: #ff6600;
	color: white;
}

/* Social-icon Fourteen */

.social-icon-ten {
	display: flex;
	flex-wrap: wrap;
}

.social-icon-ten li {
	margin: 0 7px;
}

.social-icon-ten .fa {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.social-icon-ten .fa:hover {
	opacity: 0.7;
}

.social-icon-ten .fa-facebook {
	background: #3B5998;
	color: white;
}

.social-icon-ten .fa-twitter {
	background: #55ACEE;
	color: white;
}

.social-icon-ten .fa-google {
	background: #dd4b39;
	color: white;
}

.social-icon-ten .fa-linkedin {
	background: #007bb5;
	color: white;
}

.social-icon-ten .fa-youtube {
	background: #bb0000;
	color: white;
}

.social-icon-ten .fa-instagram {
	background: #125688;
	color: white;
}

.social-icon-ten .fa-pinterest {
	background: #cb2027;
	color: white;
}

.social-icon-ten .fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.social-icon-ten .fa-skype {
	background: #00aff0;
	color: white;
}

.social-icon-ten .fa-android {
	background: #a4c639;
	color: white;
}

.social-icon-ten .fa-dribbble {
	background: #ea4c89;
	color: white;
}

.social-icon-ten .fa-vimeo {
	background: #45bbff;
	color: white;
}

.social-icon-ten .fa-tumblr {
	background: #2c4762;
	color: white;
}

.social-icon-ten .fa-vine {
	background: #00b489;
	color: white;
}

.social-icon-ten .fa-foursquare {
	background: #45bbff;
	color: white;
}

.social-icon-ten .fa-stumbleupon {
	background: #eb4924;
	color: white;
}

.social-icon-ten .fa-flickr {
	background: #f40083;
	color: white;
}

.social-icon-ten .fa-yahoo {
	background: #430297;
	color: white;
}

.social-icon-ten .fa-soundcloud {
	background: #ff5500;
	color: white;
}

.social-icon-ten .fa-reddit {
	background: #ff5700;
	color: white;
}

.social-icon-ten .fa-rss {
	background: #ff6600;
	color: white;
}

/*
================================== 
3.tab style
==================================
*/

.default-tabs {
	position: relative;
}

.default-tabs.style-three {
	border: 1px solid #f4f4f4;
}

.default-tabs nav {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: #f8f7ee;
	box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

@media only screen and (min-width: 768px) {
	.default-tabs nav {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
		z-index: 1;
	}
}

@media only screen and (min-width: 960px) {
	.default-tabs nav {
		position: relative;
		float: none;
		background: transparent;
		box-shadow: none;
	}
}

.default-tabs-navigation {
	width: 360px;
}

.default-tabs-navigation:after {
	content: "";
	display: table;
	clear: both;
}

.default-tabs-navigation li {
	float: left;
}

.default-tabs-navigation a {
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	text-align: center;
	font-size: 12px;
	font-size: 0.75rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	color: #848484;
	padding-top: 34px;
}

.no-touch .default-tabs-navigation a:hover {
	color: #29324e;
	background-color: rgba(233, 230, 202, 0.3);
}

.default-tabs-navigation a.selected {
	background-color: #ffffff !important;
	box-shadow: inset 0 2px 0 #f05451;
	color: #29324e;
}

@media only screen and (min-width: 768px) {
	.default-tabs-navigation {
		width: 80px;
		float: left;
	}
	.default-tabs-navigation a {
		height: 80px;
		width: 80px;
		padding-top: 46px;
	}
	.default-tabs-navigation a.selected {
		box-shadow: inset 2px 0 0 #ff214f;
	}
	.default-tabs-navigation a::before {
		top: 22px;
	}
}

@media only screen and (min-width: 960px) {
	.default-tabs-navigation {
		width: auto;
		background-color: #f8f7ee;
		box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
	}
	.default-tabs-navigation a {
		height: 60px;
		line-height: 60px;
		width: auto;
		text-align: left;
		font-size: 15px;
		padding: 0 2.8em 0 4.6em;
	}
	.default-tabs-navigation a.selected {
		box-shadow: inset 0 2px 0 #f05451;
	}
	.default-tabs-navigation a::before {
		top: 50%;
		margin-top: -10px;
		margin-left: 0;
		left: 38px;
	}
}

.default-tabs-content {
	background: #ffffff;
}

.default-tabs-content li {
	display: none;
	padding: 1.4em;
	border: 1px solid #f0f0f0;
}

.default-tabs-content li.selected {
	display: block;
	-webkit-animation: default-fade-in 0.5s;
	-moz-animation: default-fade-in 0.5s;
	animation: default-fade-in 0.5s;
}

.default-tabs-content li p {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.6;
	color: #848484;
	margin-bottom: 2em;
}

@-webkit-keyframes default-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes default-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes default-fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*
================================== 
4.accordion style 
==================================
*/

.accordion-box {
	position: relative;
	border: 1px solid #efefef;
}

.accordion-box .block {
	position: relative;
	padding: 19px 20px;
	border-bottom: 1px solid #f2f2f2;
}

.accordion-box .block:last-child {
	margin-bottom: 0px;
	border: 0px;
}

.accordion-box .block .acc-btn {
	position: relative;
	font-size: 20px;
	cursor: pointer;
	line-height: 1.2em;
	color: #222222;
	font-weight: 500;
	padding: 0px 30px 0px 0px;
	transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	font-family: 'Poppins', sans-serif;
}

.accordion-box .block .icon-outer {
	position: absolute;
	right: 15px;
	top: 20px;
	font-size: 16px;
	color: #222222;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.accordion-box .block .icon-outer .icon {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	font-size: 12px;
	color: #222222;
	font-weight: 700;
	line-height: 1em;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.accordion-box .block .icon-outer .icon_plus {
	opacity: 1;
}

.accordion-box .block .icon-outer .icon_minus {
	opacity: 0;
	color: #ff214f;
	font-weight: 700;
}

.accordion-box .block .acc-btn.active .icon-outer .icon_minus {
	opacity: 1;
}

.accordion-box .block .acc-btn.active .icon-outer .icon_plus {
	opacity: 0;
}

.accordion-box .block .acc-btn.active .icon-outer {
	color: #11da61;
}

.accordion-box .block .acc-content {
	position: relative;
	display: none;
}

.accordion-box .block .acc-content .content-text {
	padding-bottom: 6px;
}

.accordion-box .block .acc-content.current {
	display: block;
}

.accordion-box .block .content {
	position: relative;
	font-size: 14px;
	padding: 15px 0px 0px 0px;
}

.accordion-box .block .content p {
	margin-bottom: 20px;
	line-height: 1.8em;
	font-size: 16px;
	color: #848484;
	font-weight: 300;
}

.accordion-box .block .content p:last-child {
	margin-bottom: 0px;
}

/*Accordian Style Two*/

.accordion-box.style-two {
	border: 0px;
}

.accordion-box.style-two .block {
	margin-bottom: 20px;
	padding: 15px 20px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: #fff;
}

.accordion-box.style-two .block .acc-btn {
	color: #000000;
}

.accordion-box.style-two .block .content p {
	color: #adadad;
	font-size: 16px;
	line-height: 1.9em;
}

/*Accordian Style Three*/

.accordion-box.style-three {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 70px;
}

.accordion-box.style-three .block {
	padding-left: 0px;
}

.accordion-box.style-three .block .acc-btn {
	font-weight: 400;
}

.accordion-box.style-three .block .icon-outer {
	right: 0px;
}

/*Accordian Style Four*/

.accordion-box.style-four {
	border: 0px;
}

.accordion-box.style-four .block {
	border: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

.accordion-box.style-four .block .acc-btn {
	padding: 13px 20px;
	background-color: #f7f7f7;
}

.accordion-box.style-four .block .icon-outer .icon {
	font-size: 20px;
	margin-top: -20px;
}

.accordion-box.style-four .block .icon-outer {
	right: 30px;
	top: 36px;
}

.accordion-box.style-four .block .acc-btn.active .icon-outer .icon_plus {
	opacity: 1;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordion-box.style-four .block .content {
	padding: 20px 20px;
	border: 1px solid #f4f4f4;
	border-top: 0px;
}

/*Accordian Style Five*/

.accordion-box.style-five {
	position: relative;
	padding: 0px 30px;
	border: 0px;
	background-color: #f7f7f7;
}

.accordion-box.style-five .block {
	padding: 0px 0px;
}

.accordion-box.style-five .block:last-child .acc-content {
	padding-bottom: 25px;
}

.accordion-box.style-five .block .acc-btn {
	padding-right: 0px;
	padding-left: 40px;
	padding-top: 19px;
	padding-bottom: 19px;
}

.accordion-box.style-five .block .acc-btn.active {
	color: #ff214f;
}

.accordion-box.style-five .block .acc-btn.active .icon-outer {
	background-color: #ff214f;
}

.accordion-box.style-five .block .icon-outer {
	left: 0px;
	top: 50%;
	right: auto;
	width: 20px;
	height: 20px;
	color: #ffffff;
	line-height: 21px;
	border-radius: 50%;
	text-align: center;
	margin-top: -10px;
	background-color: #cccccc;
}

.accordion-box.style-five .block .icon-outer .icon {
	left: 0px;
	top: 19px;
	width: 20px;
	height: 20px;
	color: #ffffff;
}

.accordion-box.style-five .block .content {
	background-color: #ffffff;
	margin-top: 0px;
	padding: 25px 40px;
}

/*
================================== 
5.page pagination
==================================
*/

.page_pagination li {
	display: inline-block;
	margin: 0px;
}

.page_pagination li a {
	display: block;
	text-align: center;
	color: #333333;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 15px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: capitalize;
}

.page_pagination li a.active,
.page_pagination li a:hover {
	color: #fff;
	background: #ff6363;
}

/*style tow*/

.page_pagination_two {
	text-align: center;
	margin-bottom: 50px;
}

.page_pagination_two li {
	display: inline-block;
	margin: 0 4px;
}

.page_pagination_two li a {
	width: 55px;
	height: 55px;
	line-height: 55px;
	display: block;
	border-radius:  50%;
	border: 1px solid rgba(229, 229, 229, 0.57);
	text-align: center;
	color: #848484;
	font-size: 18px;
}

.page_pagination_two li a.active,
.page_pagination_two li a:hover {
	color: #fff;
	background: #ff214f;
}

/*style three*/

.page_pagination_three {
	text-align: center;
	margin-bottom: 50px;
}

.page_pagination_three li {
	display: inline-block;
	margin: 0 4px;
}

.page_pagination_three li a {
	width: 55px;
	height: 55px;
	line-height: 55px;
	border-radius:  50%;
	display: block;
	text-align: center;
	background: #f7f8f9;
	color: #333;
	font-size: 18px;
	font-weight: 700;
}

.page_pagination_three li a.active,
.page_pagination_three li a:hover {
	color: #fff;
	background: #ff214f;
}

/*
================================== 
6.filter style
==================================
*/

.filter-tabs {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 75px;
	justify-content: center;
}

.filter-tabs li {
	padding: 0px;
}

.filter-tabs li span {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	padding: 20px 45px;	
	display: block;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	transition: .5s ease;
	border-bottom: 1px solid #404649;
}

.filter-tabs li:hover span,
.filter-tabs li.active span{
	color: #fe6969;
	border-color: #fe6969;
	transition: .5s ease;
}

.filter-tabs li span i {
	font-size: 14px;
	margin-right: 5px;
}


/* style two */
.filter-tabs-two {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 40px;
	justify-content: center;
}

.filter-tabs-two li {
	padding: 0;
	margin: 0px 7px 10px;
}

.filter-tabs-two li.active {}

.filter-tabs-two li span {
	color: #464646;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding: 8px 25px;
	background: #e6e8eb;
	border-radius: 22px;
	font-family: 'Poppins', sans-serif;
	display: block;
	cursor: pointer;
	transition: .5s ease;
}

.filter-tabs-two li:last-child span {
	border-right: 0px;
}

.filter-tabs-two li:hover span,
.filter-tabs-two li.active span {
	color: #ffffff;
	background: #ff214f;
	border-color: #ff214f;
	transition: .5s ease;
}

.filter-tabs-two li span i {
	font-size: 14px;
	margin-right: 5px;
}

/*
================================== 
7.video box
==================================
*/

.video-image-box .image {
	position: relative;
}

.video-image-box img {
	display: block;
	width: 100%;
}

.video-image-box .image .overlay-link {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	display: flex;
	height: 100%;
	font-size: 50px;
	align-items: center;
	justify-content: center;
	color: #ff214f;
	text-align: center;
	background: rgba(0, 0, 0, 0.50);
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.video-image-box .image .overlay-link:hover {
	background: rgba(0, 0, 0, 0.30);
}

.video-image-box .image .overlay-link .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -30px;
	width: 60px;
	background: #fff;
	height: 60px;
	border-radius: 50%;
	line-height: 60px;
	font-size: 29px;
	color: #ff214f;
	padding-left: 5px;
}

/* video-box */

.default-video-box {
	margin-bottom: 40px;
}

.default-video-box a {
	color: #fff;
	font-size: 60px;
	position: relative;
	display: inline-block;
}

