	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/03/2018 08:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-technology-1:before { content: "\f100"; }
.flaticon-note:before { content: "\f101"; }
.flaticon-placeholder-1:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-right-arrow-1:before { content: "\f104"; }
.flaticon-connection:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-media-play-symbol:before { content: "\f107"; }
.flaticon-unlink:before { content: "\f108"; }
.flaticon-cup:before { content: "\f109"; }
.flaticon-users:before { content: "\f10a"; }
.flaticon-flag:before { content: "\f10b"; }
.flaticon-microphone:before { content: "\f10c"; }
.flaticon-targeting:before { content: "\f10d"; }
.flaticon-computer:before { content: "\f10e"; }
.flaticon-technology:before { content: "\f10f"; }
.flaticon-hand-shake:before { content: "\f110"; }
.flaticon-search:before { content: "\f111"; }
.flaticon-new-email-outline:before { content: "\f112"; }
.flaticon-phone-call:before { content: "\f113"; }
.flaticon-placeholder:before { content: "\f114"; }