
/*** 

====================================================================
  Main Header style
====================================================================

***/

.main-header{
  position:relative;
  left:0px;
  top:0px;
  z-index:999;
  width:100%;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-header.style-two {
  position: absolute;
  t
}

.main-header .header-upper-one{
  position:relative;
  background: #ffffff;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  z-index:5;
}

.nav-outer .main-menu{
  position:relative;
  float:left;
}

.nav-outer .search-box{
  position:relative;
  float:right;
}

.nav-outer .form-group{
  position:relative;
  margin:0px; 
}

.nav-outer input[type="text"],
.nav-outer input[type="search"],
.nav-outer input[type="password"],
.nav-outer select{
  display:block;
  width: 277px;
  color: #ffffff;
  line-height:24px;
  font-size: 13px;
  font-weight: 400;
  padding:7px 40px 7px 15px;
  height: 72px;
  border: 1px solid #ff6363;
  background: #ff6363;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.nav-outer input:focus,
.nav-outer select:focus{
  border-color:#ff214f; 
}

.nav-outer input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}

.nav-outer input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.nav-outer input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.nav-outer input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.nav-outer .search-btn{
  position:absolute;
  right:0px;
  top:0px;
  width: 60px;
  height: 72px;
  text-align:center;
  color: #ffffff;
  font-size: 20px;
  background:none;
  cursor:pointer;
}

.sticky-header{
  position:fixed;
  opacity:0;
  visibility:hidden;
  left:0px;
  top:0px;
  width:100%;
  padding:0px 0px;
  background:#ffffff;
  z-index:0;
  border-bottom:1px solid #e0e0e0;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.fixed-header .sticky-header{
  z-index:999;
  opacity:1;
  visibility:visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; 
}

.main-header .header-upper{
  position:relative;
  z-index:5;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-header .nav-outer{
  position:relative;
}
.main-menu .navbar-collapse{
  padding:0px;  
}
.main-menu .navigation{
  position:relative;
  margin:0px;
}
.main-menu .navigation > li{
  position:relative;
  float:left;
  padding-right: 50px;
}
.main-menu .navigation > li:after{
  position:absolute;
  content:'';
  right: 15px;
  top: 26px;
  width:1px;
  height: 20px;
  background-color:#888888;
}
.main-menu .navigation > li:last-child:after{
  display: none;
}
.main-menu .navigation > li > a{
  position:relative;
  display: inline-block;
  font-size:18px;
  color:#333333;
  line-height:26px;
  font-weight:400;
  opacity:1;
  padding: 23px 10px;
  font-family: 'Ubuntu', sans-serif;
  text-transform:capitalize;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a{
  color:#ff6363;
  opacity:1;
}
.main-menu .navigation > li > ul{
  position:absolute;
  left:0px;
  top: 102%;
  width:270px;
  z-index:100;
  visibility: hidden;
  opacity: 0;
  background:#ffffff;
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none; 
}
.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  padding: 10px 10px;
  line-height:24px;
  font-weight:400;
  font-size:16px;
  color:#333333;
  text-align:left;
  font-family: 'Ubuntu', sans-serif;
  padding-right:0px !important;
  text-transform:capitalize;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li > a:hover {
  color: #ff6363;
}
.main-menu .navigation > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation li > ul > li.dropdown:hover ul{
  visibility:visible;
  opacity:1;
  left:100%;
  top:0%;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
  position:absolute;
  right: 40px;
  top: 23px;
  text-align:center;
  font-size:16px;
  color:#333333;
  cursor:pointer;
  z-index:5;
  display: block;
}

/* =============== Mobile menu ===================== */


@media only screen and (max-width: 991px) {

  .fixed-header .sticky-header {
    display: none!important;
  }
  .main-menu .navbar-header{
    position: relative;
    float:none;
    display:block;
    text-align:left;
    width:100%;
    top: 0px;
    z-index:12;
  }
  .main-menu .navbar-header .navbar-toggle{
    display:inline-block;
    z-index:7;
    float:none;
    cursor:  pointer;
    margin: 19px 0px 19px 0px;
    border-radius:0px;
    background:  #fff;
  }  
  .main-menu .navbar-header .navbar-toggle .icon-bar{
    background: #ff6363;
    height: 2px;
    width: 35px;
    display:  block;
    margin: 7px 5px;
  }
  .main-menu .collapse {
    max-height:310px;
    overflow:auto;
    float:none;
    width:100%;
    padding:0px 0px 0px;
    border:none;
    margin:0px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
   }
   .main-menu .navbar-collapse > .navigation{
    float:none !important;
    margin:0px !important;
    width:100% !important;
    background: #333;
    border:1px solid #ffffff;
    border-top:none;
  }  
  .main-menu .navbar-collapse > .navigation > li{
    margin:0px !important;
    float:none !important;
    width:100%;
  }
  .main-menu .navigation > li:after{
    display: none;
  }
  .main-menu .navigation > li > a,
  .main-menu .navigation > li > ul:before{
    border:none;  
  }  
  .main-menu .navbar-collapse > .navigation > li > a{
    padding:10px 10px !important;
    border:none !important;
  }  
  .main-menu .navigation li.dropdown > a:after,
  .main-menu .navigation > li.dropdown > a:before,
  .main-menu .navigation > li > ul > li > a::before,
  .main-menu .navigation > li > ul > li > ul > li > a::before{
    color:#ffffff !important;
    right:15px;
    font-size:18px;
    display:none !important;
  }  
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul{
    position:relative;
    border:none;
    float:none;
    visibility:visible;
    opacity:1;
    display:none;
    margin:0px;
    padding:0px;
    left:auto !important;
    right:auto !important;
    top:auto !important;
    width:100%;
    background: #333333;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    transition:none !important;
    -webkit-transition:none !important;
    -ms-transition:none !important;
    -o-transition:none !important;
    -moz-transition:none !important;
    box-shadow:none !important;
  }
  .main-menu .navbar-collapse > .navigation > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    opacity:1 !important;
    top:0px !important;
    padding-top: 0;
    padding-bottom:  0;
    left:0px !important;
    visibility:visible !important;
    border-bottom:  none;
  }
  .main-menu .navbar-collapse > .navigation > li:first-child{
    border:none;  
  }  
  .main-menu .navbar-collapse > .navigation > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
    padding:10px 10px !important;
    line-height:22px;
    color: #ffffff;
    text-align:left;
    min-height:0px;
  }
  .main-menu .navbar-collapse > .navigation > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li.current > a,
  .main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
    color:#ff6363 !important;
  }
  
  .main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
    right:15px;
    top: 8px;
    color:#ffffff;
  }
}

