ul.dsAutocomplete {
    list-style: none;
    margin: 0; padding: 5px;    
    background-color: #f7f7f7;
    border: solid 1px silver;
    border-top-width: 0;
    color: #333;
    overflow-y: auto; 
    box-shadow: 0 8px 6px -6px #888;
}
ul.dsAutocomplete.list-top {
    border-top-width: 1px;
    border-bottom-width: 0;
    box-shadow: none;
}
ul.dsAutocomplete > li {
    padding: 5px 10px;
    cursor: pointer;
}
ul.dsAutocomplete > li.selected {
    background-color: #5490B2;
    color: #fff;
}
ul.dsAutocomplete > li + li {
    border-top: solid 1px #dcdcdc;
}

/* Black theme */
ul.dsAutocomplete-black {
    background-color: #333;
    box-shadow: 1px 1px 8px #888;
    color: #fff;
}
ul.dsAutocomplete-black > li + li {
    border-color: #444;
}