table.dstable {
    width: 100%;
    margin-bottom: 0;
}
td.dstable-action {
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-top: 7px !important;
    text-align: center;
    vertical-align: top;
    cursor: default;
    width: 10px;
}
td.dstable-action .btn-info,
td.dstable-action .btn-danger,
td.dstable-action .btn-warning,
td.dstable-action .btn-success,
td.dstable-action .btn-primary {
    color: #fff !important;
}
.dstable-bottom-menu .dstable-data-pos {
    margin-top: 10px;
    text-indent: 3px;
    color: #888;
}
.dstable-bottom-menu .pagination {
    margin-top: 10px;
}
.dstable-nodata {
    text-align: center;
    padding: 70px 0 !important;
}
.dstable-loader {
    background: #333;
    background: rgba(255, 255, 255, 0.5);
    position: absolute !important;
    z-index: 5;
    color: #fff;
    font-size: 18px;
    text-align: center;
}